* {
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background: #23252C;
    
    

}

.Main {
    border: solid 1px black ;
    border-radius: 15px;
    width:317px; 
    background-color: #23252C;
    margin: 0;
    padding: 0;
}
.info{
    
}
.info--name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: 0px;
}
.info--job{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    color: #F3BF99;
    margin: 0px;
}
.info--web{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */
    text-align: center;
}
.info--web a{
        text-decoration: none;
        color: #F5F5F5;

}

.info--image{
    border-radius: 15px;
    border-radius: 10px 10px 0px 0px;
    width: 317px;
    height: 317px;
    object-fit: contain;
    margin: 0px;
    
}
.personal{
    text-align: center;
}
.info--btn{
    display: flex;
    justify-content: center;

}
.info--btn button{
    margin:5px;
}
.info--btn i{
    margin-right: 10px;
}
.info--email{
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;

    /* white */
    background: #FFFFFF;

    /* gray/300 */
    border: 1px solid #D1D5DB;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.info--linkedin{
    width: 115px;
    height: 34px;
    left: 151px;
    top: 468px;

    /* white */
    background: #5093E2;

    /* gray/300 */
    border: 1px solid #D1D5DB;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.about--heading, .interest--heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */

    color: #F5F5F5;


}
.about--content,.interest--content{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;

    /* or 15px */

    color: #DCDCDC;
}
.about,.interest{
    margin-left: 25px;
}
.footer{
    display: flex;
    background-color: #161619;
    height: 64px;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    
}
.footer .fa{
    background-color: #918E9B;
    text-align: center;
    color: black;
    height: 25px;
    width:25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}